

@media screen and (max-width: 370px) and (min-width: 320px) {

    header{
        display: none;
    }

    .divcontent {
        background-color: rgba(246, 247, 255,0.2);
        width: 90%;
        height: 80%;
    }

    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        background: white;
        width: 4px;
        height: 4px;
        margin: -4px 0 0 -4px;
    }



    #fp-nav ul li a.active span,
    .fp-slidesNav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li:hover a.active span {
        width: 8px;
        height: 8px;
        margin: -8px 0 0 -8px;
        background: transparent;
        box-sizing: border-box;
        border: 1px solid white;
    }

}
