
@media screen and (max-width: 370px) and (min-width: 320px){


    #cybdiscrip{
        background-color:rgba(0, 0, 0,0.7);
        width: 70%;
        top:10%;
        height: 32%;
        padding: 5px;
        margin: 20px;
        position: absolute;
    }

    #cybdiscrip img{
        margin-left: auto;
        position: relative;
        left: 10%;
        width: 200px;
        height: 60px;
        top: 5px;
    }

    #bacimg{
        width: 100%;
        background-color: black;
        height: 60px;
        border-radius: 25px;
    }

    #cybpara{
        font-size: 7px;
        color: white;
        line-height: 200%;
        text-align: center;
    }


    #aboutline{
        height: 2px;
        background-color:black;
    }

    #contact{
        background-color: rgba(0, 255, 255,0.7);
        width: 70%;
        height: 40%;
        position: relative;
        top: 48%;
        margin: 10px 60px 60px 20px;
        float:none ;

    }

    #contact h2
    {
        font-family: "Arial Black", Gadget, sans-serif;
        color: black;
        position: relative;
        top: -10px;
        font-size: 10px;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    .box{
        background-color:rgba(0, 0, 0,0.7);
        width: 0%;
        position: relative;
        top: 5px;
        transition: width 1s;
        padding: 0px;
    }

    .heading{
        color:white;
        margin: 0px;
        text-decoration: underline;
        font-family: Impact, Charcoal, sans-serif;
        text-align: center;
        font-size: 8px;
    }

    .name{
        font-weight: bold;
        color: white;
        text-align: center;
        font-size: 8px;
        margin: 0px;
    }


}
