
@media screen and (max-width: 425px) and (min-width: 375px){

    #titlebar{
        background-color: rgba(1, 1, 1,0.7);;
        width: auto;
        position: relative;
        top: 5px;
        margin: 0px 5px 5px 5px;
        height: 40px;
    }


    #titlebar p{
        text-align: center;
        display: block;
        position: relative;
        top: 0px;
        margin: 5px;
        font-size: 15px;
        color: white;
        font-family: 'Bungee', cursive;
    }

    .fp-viewing-page4 #titlebar{
        animation: grow 2s ;
    }

    .onlineeventlist{
        height:130px;
        width:130px;
        background-color: rgba(0, 0, 0,0.7);;
        position:absolute;
        z-index: 333;
    }

    .eventname{
        color: black;
        text-align: center;
        font-size: 13px;
        font-family: "Arial", serif;
        font-weight: bold;
    }

    .onlineeventtext{
        width:100%;
        transition: height 1s;
        height:35px;
        background-color:rgba(0, 255, 255,0.7);
        position:absolute;
        bottom:0;
    }

    .onlineeventtext:hover .eventname,
    .onlineeventtext:hover ~ .eventname{
        color: white;
        font-size: 10px;
        position: relative;
        top: 37%;
    }



    #eventlist1{
        top: 60%;
        left: 12%;
    }

    #eventlist2{
        top: 30%;
        left:12%;
    }

    #eventlist3{
        top: 60%;
        left: 55%;
    }

    #eventlist4{
        top: 30%;
        left: 55%;
    }
}
