#regstrip{
    background-color: rgba(255, 255, 255,0.7);
    top: 40%;
    position: absolute;
    border-radius: 0px 50px 50px 0px;
    height: 80px;
    width: 20%;
    transition: width 2s;
}

.fp-viewing-page6 #regstrip{
    width: 50%;
}

#regstrip p{
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 200%;
    float: right;
    padding-right: 40px;
    position: relative;
    top: -10px;
    vertical-align: middle;
}

#regcoming{
    font-family: sans-serif;
    color: rgb(0,255,255);
    font-weight: bold;
    font-size: 300%;
    position: relative;
    top: 50%;
    left: 40%;
}
